# Virtual environment
venv/
.env/

# Python cache
__pycache__/
*.py[cod]
*.pyo

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Outputs
outputs/

# System files
.DS_Store
Thumbs.db

# Environment variables
.env